---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";
import AllLinks from "@components/AllLinks.astro";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <div>
        <img
          src="/assets/nightspite.jpg"
          class="ml-0 rounded-lg sm:w-1/4"
          alt="das me"
        />
      </div>
      <div class="heading">
        <h1>Kacper Kurteczka</h1>
        <a
          target="_blank"
          href="/rss.xml"
          aria-label="rss feed"
          title="RSS Feed"
        >
          🤙
        </a>
      </div>

      <p>
        I'm the co-founder of <a href="https://bundle.global" class="link"
          >bungle.global</a
        >, a company dedicated to creating software that makes both life and
        work simpler.
      </p>
      <p>
        With a solid tech background, I've been involved in a wide range of
        fields, from cybersecurity and fintech to blockchain, AI, 3D tech,
        casinos, rentals, social media, and gaming - you name it.
      </p>
      <p>
        Our goal? To deliver software that tackles real, everyday
        problems—making things a bit easier for everyone.
      </p>

      <!-- {
        socialCount > 0 && (
          <div class="social-wrapper">
            <Socials />
          </div>
        )
      } -->
      <AllLinks />
    </section>

    <section id="portfolio" class="section">
      <h2>Projects</h2>
      <a
        target="_blank"
        href={SOCIALS?.find(s => s?.name === "read.cv")?.href + "#projects"}
        class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 hover:underline focus-visible:no-underline focus-visible:underline-offset-0"
        >Check on read.cv</a
      >
    </section>

    <section id="side-projects" class="section">
      <h2>Side projects</h2>
      <div class="mt-4 grid w-full grid-cols-2 gap-2">
        <a
          href="http://screenshot-background.nightspite.me"
          class="block overflow-auto rounded-md border-2 border-skin-accent"
        >
          <img
            src="/side-projects/screenshot-background-og.jpg"
            alt="nightspite"
          />
          <h3 class="p-4">screenshot-background</h3>
        </a>
      </div>
    </section>

    <section id="work-experience" class="section">
      <h2>Experience</h2>
      <a
        target="_blank"
        href={SOCIALS?.find(s => s?.name === "read.cv")?.href +
          "#work-experience"}
        class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 hover:underline focus-visible:no-underline focus-visible:underline-offset-0"
        >Check on read.cv</a
      >
    </section>

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured" class="section">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
        </>
      )
    }

    <section id="recent-posts" class="section">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 pb-6;
  }
  #hero .heading {
    @apply my-4 text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  .heading h1 {
    @apply inline-block;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }

  .section {
    @apply my-16;
  }
  .section h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .section h3 {
    @apply text-xl font-semibold tracking-wide;
  }
</style>
